<!doctype html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="favicon.svg">
    <title>{the archive}</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <h1>Teachable Machine - Christopher Link</h1>
    </header>

	
    <main class="container">
    
        
        <nav>
            <ul class="archive-list">
            
                <a href="https://teachablemachine.withgoogle.com/models/idSi9qAJw/">Image Recognition</a>

                <a href="https://teachablemachine.withgoogle.com/models/7AbCxV_eC/">Image Recognition</a>

                <a href="https://teachablemachine.withgoogle.com/models/hGt35VN6c/">gjghbiguegb</a>
                
                <a href="https://teachablemachine.withgoogle.com/models/o9PfEqFAx/">eujfgbifuebg</a>

            
            </ul>
        </nav>
    </main>

    <script src="index.js"></script>
</body>
</html>